<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>


<% @tasks.each do |single| %>
  <div>
  <% if single.completed %>
      [X]
    <% else %>
      [ ]
  <% end %>

  <%= link_to single.title, task_path(single) %>
 <%= link_to "Delete",
            task_path(single),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
<%=  link_to "add new", tasks_new_path %> 